.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

button {
  height: 50px;
  margin-bottom: 50px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #90e0ef 5%, #00b4d8 100%);
  background-color: #00b4d8;
  border-radius: 5px;
  border: 1px solid #00b4d8;
  cursor: pointer;
  color: whitesmoke;
  font-size: 1.5rem;
  width: 200px;
  height: 3rem;
}

.btn:hover {
  background: #00b4d8;
  text-decoration: none;
}
