.body {
  background-image: url("../assets/asset_lp/RPS_Hero_Bckgr.jpg");
  height: 100vh;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
